/* змінні */
/* палітра проекта */
:root {
  --prime-bg-color--: #ffffff; /*білий*/
  --second-bg-color--: #2f303a; /*темно сірий*/
  --title-ccolor--: #212121; /*чорний*/
  --accent-color--: #2196f3; /*голубий*/
  --text-color--: #757575; /*сірий*/
  --button-bg-color--: #f5f4fa;
  --icon-color--: #afb1b8; /*світло сірий */

  /* шрифти проекта  */
  --prime-font-family--: "Roboto", sans-serif;
  --second-font-family--: "Raleway", sans-serif;
  /* Властивості для переходів */
  --color--: color;
  --fill--: fill;
  --bgcolor--: background-color;
  --bordercolor--: border-color;
  --filter--: filter;
  --transform--: transform;
  --duration--: 250ms;
  --cubic--: cubic-bezier(0.4, 0, 0.2, 1);
}
/* глобальні налаштування */
body {
  font-family: var(--prime-font-family--); /*'Roboto', sans-serif*/
  color: var(--text-color--);
  background-color: var(--prime-bg-color--);
}

/* reset  обнулюємо відступи/стилі призначені browser*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
a {
  text-decoration: none;
}
/*загальне налаштування для кнопок */
.btn {
  font-family: var(--prime-font-family--);
  border: none;
  cursor: pointer;
}
/* активна кнопка */
.active {
  color: var(--prime-bg-color--);
  background: var(--accent-color--);
}

/* скриває елемент */
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
/* більший контейнер */
.big-container {
  max-width: 1600px;
  margin: 0 auto; /* батько центрує  в собі*/
}

/* меньший контейнер  */
.container {
  width: 1200px;
  margin: 0 auto; /*вертик забирає горизонт центрує блоковий*/
  padding: 0 15px;
}
/* спільна властивість секцій */
.section {
  padding-bottom: 94px;
}

.uppercase {
  text-transform: uppercase;
}

/* h1 */
.title-first {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-color--);
}
/* h2 */
.title-second {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-ccolor--);
}
/* h3 */
.title-third {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-align: center;
  /* text-transform: uppercase; */
  color: var(--title-ccolor--);
}

/* стилі header */

.header-section {
  /* спільний шрифт */
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  /* margin-bottom:21px; */
}
/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 3%;
}
.logo.header {
  display: flex;;
  transition:transform 500ms linear;
}
.logo.web {
  color: var(--accent-color--);
}
.logo.studio {
  display: inline-block;
  margin-right: 93px;
  color: #000;
}
.logo.header:hover{
  transform:scale(2);
}
.header-section {
  border-bottom: 1px solid#ECECEC;

}
/* весь header у flex container */
.header-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;

}
/* Навігація по сторінках сайта */
/* навігація  в header  flex container*/
.header-nav-list {
  display: flex;
  justify-content: space-between;
  margin-right: 318px;
}
/* елементи навігації */
.header-nav-item:not(:last-child) {
  margin-right: 50px;
}


/* padding link збільшує зону клікабельності */
.header-nav-link {
  position: relative;
  color: var(--title-ccolor--);
  padding: 32px 0px;
  transition: var(--color--) var(--duration--) var(--cubic--)
 }

 /* hover на посиланнях в навігації */
.header-contact-link:focus,
.header-contact-link:hover,
.header-nav-link:focus,
.header-nav-link:hover
 {
  color: var(--accent-color--);
  
}

.header-nav-link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block; /*даємо геометрію бо псевдокласи рядкові ел-ти*/
  width: 110%; /*риска шириною батька header-nav-link*/
  height: 4px; /*висота риски*/
  border-radius: 4px; /*заокруглена*/
  background-color: var(--accent-color--);
  transition: var(--bgcolor--)var(--duration--)var(--cubic--),
              transform 300ms linear;
   
}
.header-nav-link.current:hover:after {
  transform:rotate(180deg);
}

/* hover/focus на контакти в header */
.header-contact-link:focus,
.header-contact-link:hover .contact-icon {
  fill: var(--accent-color--);
  color: var(--accent-color--);
}

/* .header-nav-link.current:hover:after {
  transform: scale(2);
 } */

/* підсвітка посилання активної сторінки */
.current {
  color: var(--accent-color--);
}
/* Контакт ліст у flex щоб поставити у рядок */
.header-contact-list {
  display: flex;
  margin: 0 auto;
  gap: 30px;
}
/* .header-contact-item:not(:first-child) {
  margin-left: 30px;
} */

/* вигляд мейл і телефон */
.header-contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color--);
  padding: 32px 0px;
  gap: 10px;
  transition: var(--fill--) var(--duration--) var(--cubic--),
              var(--color--) var(--duration--) var(--cubic--);
}
/* колір  від  link-батька */
.contact-icon {
  display: block;
  fill: currentColor;
  transition: var(--fill--) var(--duration--) var(--cubic--),
              var(--color--) var(--duration--) var(--cubic--);
}

/* hover/focus на контакти в header */
.header-contact-link:focus,
.header-contact-link:hover .contact-icon {
  fill: var(--accent-color--);
  color: var(--accent-color--);
}



/* стилі index */
/* секція hero */
/* hero  title-first */

.hero-section {
  color: var(--prime-bg-color--); /*білий*шрифт */
  background: var(--second-bg-color--);
  background-image: linear-gradient(
      to bottom right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  padding-top: 200px;
  padding-bottom: 200px;
}
/* анімація елемент падає зверху букви розїжджаються і все стає на місце */
@keyframes slide-to-bottom {
  0% {
    opacity: 0;
    transform: perspective(200px) translateY(-50px);
  }
  50% {
    opacity: 0.5;
    transform: perspective(200px) translateY(0);
    letter-spacing: 0.15em;
  }
  100% {
    opacity:1;
    transform: perspective(200px) translateY(0);
    letter-spacing: 0.06em;
  }
}

.title-first.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  animation: slide-to-bottom 5s linear 200ms both;
}

.hero-button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background-color: var(--accent-color--);
  color: var(--prime-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin: 0 auto; /*вертик забирає горизонтально центрує*/
  transition: var(--bgcolor--) var(--duration--) var(--cubic--);
  opacity:0;
 
  /* animation: butjump 500ms ease-out  1s 10  alternare forwards ; */
  animation: butjump 300ms ease-out 1s 14 alternate-reverse forwards;
}
/*  */
@keyframes butjump {
  0% {
     opacity:0.5;
      transform:perspective(400px) translateY(-10px);
     }
    100% {
      opacity:1;
        transform:perspective(400px) translateY(0);
  }
}
.hero-button:focus,
.hero-button:hover {
  background-color: #188ce8;
}
/* підкладка для модального вікна */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity:1;
  transition: opacity var(--duration--) var(--cubic--),
              visibility var(--duration--) var(--cubic--);
   
}
/* модальне вікно */
.modal {
  position: absolute;
  width:528px;
  height: 581px;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%) scale(1);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition:var(--transform--) 500ms var(--cubic--) ,
             var(--tramsform--) 500ms var(--cubic--);
  
 
}

.backdrop.is-hidden .modal {
  /* transform:translateX(-50%) translateY(-70%); */
  transform:scale(0.1);
}

/* .hero-button:active .modal{
 animation:modaltoggle 2s linear forwards;
}
.btn-close:active .modal {
 animation:modaltoggle 2s linear reverse forwards;
}  */
/* toggle */
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-text {
  padding-top: 40px;
}
/* кнопка закриття в модальному вікні */
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #fff; /*фон кнопки*/
  display: block;
  padding: 0;
}
.icon-close {
  /* background-color:inherit; */
  fill: #fff; /*фон іконки*/
  /* хрестик,коло stroke :/*var(--button-bg-color--); */
}

/* секція Особливості */
/* feature-section */
/* h2 схований */
/* h3 - .tille-third */
/* feature-section обгорнута в  container 1200px */
.feature-section {
  padding-top: 94px;
}

/* список feature ставимо в рядок */
.feature-list {
  display: flex;
  justify-content: space-between;
}
/* заголовки в li feature-list */
.feature-list .title-third {
  text-align: left;
  margin-bottom: 10px;
}
/* p в li */
.feature-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color--);
}
/* колекція контайнера flex-list * /
/* всі елементи однакової величини на main axis */
.feature-list-item {
  flex-basis: 270px;
}
/* відстань між всіма ел-ми колекції крім останнього */
.feature-list-item:not(:last-child) {
  margin-right: 30px;
}
.icon-block {
  background: var(--button-bg-color--);
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}
.feature-icon {
  display: block;
}
/* секція deal Чим ми займаємось */
/*h2 - .title-second*/

.container .deal {
  margin: 0px 15px;
}

.title-second.deal-title {
  margin-bottom: 50px;
}
/* картинки в рядок */
.deal-list {
  display: flex;
  justify-content: space-between;
}
/* Якщо змінити к-ть картинок поки не знаю що написати замість 3 */
/* img  діти li які є ел-ми flex container тому унаслідують наступне  */
.deal-list-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}
/* обгортка для фоток чим ми займаємось */
.wrapper {
  /*відносно нього overlay-box з текстом на темному фоні*/
  position: relative;
}
.deal-list-img {
  width: 370px;
  max-height: 294px;
}
/* блок з текстом */
.overlay-box {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
/* сам текст  */
.overlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 27px;
  text-align: center;
}

/* .deal-list-item:not(:last-child) {
  margin-right:30px;
 } */

/* секція Наша команда */
/* h2 Наша команда - title-second */
.team-section {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title.title-second {
  margin-bottom: 50px;
}

.team-cards-list {
  display: flex;

  justify-content: center;
}

.team-card-item {
  background-color: var(--prime-bg-color--);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  flex-basis: calc((100%-30px * 3) / 4);
  /* overflow:hidden; */
  transition: var(--transform--) 1s var(--cubic--);
}

.team-card-item:last-child {
  margin-right: 0px;
}
.team-card-item:hover {
  transform: scale(1.5);
}

.card-image {
  display: block;
  width: 270px;
  margin-bottom: 30px;
}
/* h3 - card-name title-second */
.card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(18.75 / 1 6);
  letter-spacing: 0.03em;
  color: var(--title-ccolor--);
  text-align: center;
  margin-bottom: 10px;
}

/* position */
.card-position {
  font-size: 16px;
  line-height: calc(18.75 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color--);
  /* margin-bottom: 16px; */
}
/* список іконом посилань соціальних мереж в рядок*/
.social-link-list {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 16px 32px 30px;
}

/* кругла кнопка на соцмережі */
.social-link-button {
  /* display: block; */
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* padding: 12px; */
  color: var(--icon-color--);
  transition: var(--color--) var(--duration--) var(--cubic--),
    var(--bgcolor--) var(--duration--) var(--cubic--);
}
/* колір іконка соцмереж наслідує від кнопки-батька*/
.social-link-icon {
  fill: currentColor;
}
/* реакція  на наведення на іконки соцмерех*/
.social-link-button:hover,
.social-link-button:focus {
  background-color: var(--accent-color--);
  color: var(--prime-bg-color--);
}

/* секція Постійні клієнти */
.client-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title-client {
  margin-bottom: 50px;
}
.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  /* margin: 16px 32px; */
  color: var(--icon-color--);
  border: 1px solid var(--icon-color--);
  border-radius: 4px;
  transition: var(--color--) var(--duration--) var(--cubic--),
    var(--bordercolor--) var(--duration--) var(--cubic--);
  overflow: hidden;
}
.client-icon {
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color--);
  color: var(--accent-color--);
  transform: scale(2);
}

/* porfolio section */
/* h1 Портфоліо -title-first схований */
/* розширяємо секцію щоб контент відступаєв від фільтра */
.portfolio-section {
  padding-top: 94px;
}

/* меню фільтра проектів */
/* ul - flex container */
.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

/* кнопка фільтра за замовчанням inline */

.filter-button {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--title-ccolor--);
  background: var(--button-bg-color--);
  border-radius: 4px;
  padding: 6px 22px;
  scale:(0.99);
  transition: var(--color--)   var(--duration--) var(--cubic--),
              var(--bgcolor--) var(--duration--) var(--cubic--),
              var(--transform--)  var(--duration--) var(--cubic--);                ;
}

.filter-button.all {
  padding: 6px 25px;
}

/* кнопки фільтра проектів при hover */
.filter-button:focus,
.filter-button:hover {
  color: var(--prime-bg-color--);
  background-color: var(--accent-color--);
  transform:scale(1.15);
}

/* projects */
/* h2 - title-econd  */
.project-img {
  width: 370px;
  height: 294px;
}

/* згрупування під карткою портфоліо */
.group-portfolio {
  width: 370px;
  padding: 19px 24px 19px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

/*h2 title-project */
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-ccolor--);
  margin-bottom: 4px;
}

.project-type {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color--);
}

/* проекти в рядок з переносом по 4 з gap 30px */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
/* проект */
.project-item {
  background: #ffffff;
  /* flex-basis: calc((100%-30px * 2) / 3); */
  margin-bottom: 30px;
  transition: var(--filter--) var(--duration--) var(--cubic--);
}
/* кожному 3му забрати правий маржин */
/* .project-item:nth-child(3n){
 margin-right:0px;
}
/* останнім 3м забрати нижній маржин */
/*.project-item:nth-last-child(-n+3){
 margin-bottom:0px;
} */

.project-item:hover,
.project-item:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.project-item:hover .overlay {
  transform: perspective(300px)translatey(0) rotateY(360deg);
  
}
/* тумба для малюнка що закриє overlay при hover */
.thumb {
  position: relative;
  overflow: hidden;
}
/* вікно з текстом при hover проекта замість картинки */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* на весь img*/
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color--);
  transform: perspective(300px)translateY(101%) rotateY(5deg);
  transition: var(--transform--) 2000ms var(--cubic--) ,
              var(--transform--) 2000ms var(--cubic--) ;

}

.overlay-text-project {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--prime-bg-color--);
  /* outline: 1px solid red; */
  padding: 63px 24px;
}

/* стилі footer*/
.footer-section {
  background: var(--second-bg-color--);
  padding-top: 60px;
  padding-bottom: 60px;
  /* border-top: 0px solid transparent; */
}
/* спільний шрифт для блоку address */
.footer-section .logo.studio {
  display: inline-block;
  color: var(--prime-bg-color--);
  margin-right: 0px;
}
/* обгорнули в div щоб зобити блочним*/
.logo.footer {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: calc(21 / 14);
  letter-spacing: 0.03em;
  transition: var(--color--) var(--duration--) var(--cubic--);
}
/* реакція на наведення мишки або клавіатури на любий лінк футера */
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color--);
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

/* адреса  */
.footer-link.map {
  color: var(--prime-bg-color--);
  transition: var(--color--) var(--duration--) var(--cubic--);
}

.footer-link.map:hover,
.footer-link.map:focus {
  color: var(--accent-color--);
}
.footer-combine {
  display: flex;
  gap: 70px;
  align-items: baseline;
}
.social-text {
  color: var(--prime-bg-color--);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: flex-start;
}
.social-link-list.footer {
  margin: 0 auto;
}
.social-link-button.footer {
  color: var(--prime-bg-color--);
  background: rgba(255, 255, 255, 0.1);
  transition: var(--bgcolor--) var(--duration--) var(--cubic--);
}
.social-link-button.footer:hover,
.social-link-button.footer:focus {
  background-color: var(--accent-color--);
}
