/* змінні */
/* палітра проекта */
:root {
  --prime-bg-color--: #ffffff; /*білий*/
  --second-bg-color--: #2f303a; /*темно сірий*/
  --title-ccolor--: #212121; /*чорний*/
  --accent-color--: #2196f3; /*голубий*/
  --text-color--: #757575; /*сірий*/
  --button-bg-color--: #f5f4fa;
  --icon-color--: #afb1b8; /*світло сірий */

  /* шрифти проекта  */
  --prime-font-family--: "Roboto", sans-serif;
  --second-font-family--: "Raleway", sans-serif;
}
/* глобальні налаштування */
body {
  font-family: var(--prime-font-family--); /*'Roboto', sans-serif*/
  color: var(--text-color--);
  background-color: var(--prime-bg-color--);
}

/* reset  обнулюємо відступи/стилі призначені browser*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
a {
  text-decoration: none;
}
/*загальне налаштування для кнопок */
.btn {
  font-family: var(--prime-font-family--);
  border: none;
  cursor: pointer;
}
/* активна кнопка */
.active {
  color: var(--prime-bg-color--);
  background: var(--accent-color--);
}

/* скриває елемент */
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
/* більший контейнер */
.big-container {
  max-width: 1600px;
  margin: 0 auto; /* батько центрує  в собі*/
}

/* меньший контейнер  */
.container {
  width: 1200px;
  margin: 0 auto; /*вертик забирає горизонт центрує блоковий*/
  padding: 0 15px;
}
/* спільна властивість секцій */
.section {
  padding-bottom: 94px;
}

.uppercase {
  text-transform: uppercase;
}

/* h1 */
.title-first {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-color--);
}
/* h2 */
.title-second {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-ccolor--);
}
/* h3 */
.title-third {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-align: center;
  /* text-transform: uppercase; */
  color: var(--title-ccolor--);
}

/* стилі header */

.header-section {
  /* спільний шрифт */
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  /* margin-bottom:21px; */
}
/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 3%;
}
.logo.header {
  display: flex;
}
.logo.web {
  color: var(--accent-color--);
}
.logo.studio {
  display: inline-block;
  margin-right: 93px;
  color: #000;
}
.header-section {
  border-bottom: 1px solid#ECECEC;
  /* background-color: var(--button-bg-color--); */
}
/* весь header у flex container */
.header-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding-top: 24px;
  padding-bottom: 25px; */
}
/* Навігація по сторінках сайта */
/* навігація  в header  flex container*/
.header-nav-list {
  display: flex;
  justify-content: space-between;
  margin-right: 318px;
}
/* елементи навігації */
.header-nav-item:not(:last-child) {
  margin-right: 50px;
}
/* padding link збільшує зону клікабельності */
.header-nav-link {
  color: var(--title-ccolor--);
  padding: 32px 0px;
}
/* підсвітка посилання активної сторінки */
.current {
  color: var(--accent-color--);
}
/* Контакт ліст у flex щоб поставити у рядок */
.header-contact-list {
  display: flex;
  margin: 0 auto;
  gap: 30px;
}
/* .header-contact-item:not(:first-child) {
  margin-left: 30px;
} */

/* вигляд мейл і телефон */
.header-contact-link {
  display:flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color--);
  padding: 32px 0px;
  gap:10px;
}
/* колір  від  link-батька */
.contact-icon {
  display:block;
  fill: currentColor;
 }
/* hover/focus на контакти в header */
.header-contact-link:focus ,
.header-contact-link:hover .contact-icon {
 
  fill: var(--accent-color--);
  color:var(--accent-color--);
}

/* hover на посиланнях в навігації */
.header-nav-link:focus,
.header-nav-link:hover,
.header-contact0link:focus,
.header-contact-link:hover {
  color: var(--accent-color--);
}

/* стилі index */
/* секція hero */
/* hero  title-first */

.hero-section {
  color: var(--prime-bg-color--); /*білий*шрифт */
  background: var(--second-bg-color--);
  background-image: linear-gradient(
      to bottom right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  padding-top: 200px;
  padding-bottom: 200px;
}

.title-first.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
}

.hero-button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background-color: var(--accent-color--);
  color: var(--prime-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin: 0 auto; /*вертик забирає горизонтально центрує*/
}
.hero-button:focus,
.hero-button:hover {
  background: #188ce8;
}

/* секція Особливості */
/* feature-section */
/* h2 схований */
/* h3 - .tille-third */
/* feature-section обгорнута в  container 1200px */
.feature-section {
  padding-top: 94px;
}

/* список feature ставимо в рядок */
.feature-list {
  display: flex;
  justify-content: space-between;
}
/* заголовки в li feature-list */
.feature-list .title-third {
  text-align: left;
  margin-bottom: 10px;
}
/* p в li */
.feature-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color--);
}
/* колекція контайнера flex-list * /
/* всі елементи однакової величини на main axis */
.feature-list-item {
  flex-basis: 270px;
}
/* відстань між всіма ел-ми колекції крім останнього */
.feature-list-item:not(:last-child) {
  margin-right: 30px;
}
.icon-block {
  background: var(--button-bg-color--);
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}
.feature-icon {
  display: block;
}
/* секція deal Чим ми займаємось */
/*h2 - .title-second*/

.container .deal {
  margin: 0px 15px;
}

.title-second.deal-title {
  margin-bottom: 50px;
}
/* картинки в рядок */
.deal-list {
  display: flex;
  justify-content: space-between;
}
/* Якщо змінити к-ть картинок поки не знаю що написати замість 3 */
/* img  діти li які є ел-ми flex container тому унаслідують наступне  */
.deal-list-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}
/* підозрюю що рохміри img треба пропорційно до різних екранів */
.deal-list-img {
  width: 370px;
  max-height: 294px;
}
/* .deal-list-item:not(:last-child) {
  margin-right:30px;
 } */

/* секція Наша команда */
/* h2 Наша команда - title-second */
.team-section {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title.title-second {
  margin-bottom: 50px;
}

.team-cards-list {
  display: flex;

  justify-content: center;
}

.team-card-item {
  background-color: var(--prime-bg-color--);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  margin-right: 30px;
  flex-basis: calc((100%-30px * 3) / 4);
}

.team-card-item:last-child {
  margin-right: 0px;
}

.card-image {
  display: block;
  width: 270px;
  margin-bottom: 30px;
  /* height: 260px; */
}
/* h3 - card-name title-second */
.card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(18.75 / 1 6);
  letter-spacing: 0.03em;
  color: var(--title-ccolor--);
  text-align: center;
  margin-bottom: 10px;
}

/* position */
.card-position {
  font-size: 16px;
  line-height: calc(18.75 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color--);
  /* margin-bottom: 16px; */
}
/* список іконом посилань соціальних мереж в рядок*/
.social-link-list {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 16px 32px 30px;
}

/* кругла кнопка на соцмережі */
.social-link-button {
  /* display: block; */
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* padding: 12px; */
  color: var(--icon-color--);
}
/* колір іконка соцмереж наслідує від кнопки-батька*/
.social-link-icon {
  fill: currentColor;
}
/* реакція посилання на наведення */
.social-link-button:hover,
.social-link-button:focus {
  background-color: var(--accent-color--);
  color: var(--prime-bg-color--);
}

/* секція Постійні клієнти */
.client-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title-client {
  margin-bottom:50px;
}
.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  /* margin: 16px 32px; */
  color: var(--icon-color--);
  border: 1px solid var(--icon-color--);
  border-radius: 4px;
}
.client-icon {
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color--);
  color: var(--accent-color--);
}

/* porfolio section */
/* h1 Портфоліо -title-first схований */
/* розширяємо секцію щоб контент відступаєв від фільтра */
.portfolio-section {
  padding-top: 94px;
}

/* меню фільтра проектів */
/* ul - flex container */
.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

/* кнопка фільтра за замовчанням inline */

.filter-button {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--title-ccolor--);
  background: var(--button-bg-color--);
  border-radius: 4px;
  padding: 6px 22px;
  /* margin:0; */
}
.filter-button.all {
  padding: 6px 25px;
}

/* кнопки фільтра проектів при hover */
.filter-button:focus,
.filter-button:hover {
  color: var(--prime-bg-color--);
  background-color: var(--accent-color--);
}

/* projects */
/* h2 - title-econd  */
.project-img {
  width: 370px;
  height: 294px;
}

/* згрупування під карткою портфоліо */
.group-portfolio {
  width: 370px;
  padding: 19px 24px 19px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

/*h2 title-project */
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-ccolor--);
  margin-bottom: 4px;
}

.project-type {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color--);
}

/* проекти в рядок з переносом по 4 з gap 30зч */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
/* проект */
.project-item {
  background: #ffffff;
  /* flex-basis: calc((100%-30px * 2) / 3); */
  margin-bottom: 30px;
}
.project-item:hover,
.project-item:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* кожному 3му забрати правий маржин */
/* .project-item:nth-child(3n){
 margin-right:0px;
}
/* останнім 3м забрати нижній маржин */
/*.project-item:nth-last-child(-n+3){
 margin-bottom:0px;
} */

/* стилі footer*/
.footer-section {
  background: var(--second-bg-color--);
  padding-top: 60px;
  padding-bottom: 60px;
  /* border-top: 0px solid transparent; */
}
/* спільний шрифт для блоку address */
.footer-section .logo.studio {
  display: inline-block;
  color: var(--prime-bg-color--);
  margin-right: 0px;
}
/* обгорнули в div щоб зобити блочним*/
.logo.footer {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: calc(21 / 14);
  letter-spacing: 0.03em;
}

/* .footer-list-item {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
} */

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

/* адреса  */
.footer-link.map {
  color: var(--prime-bg-color--);
}

/* реакція на наведення мишки або клавіатури на любий лінк футера */
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color--);
}
.footer-link-map:hover,
.footer-link-map:focus {
  color: var(--accent-color--);
}
.footer-combine {
  display: flex;
  gap: 70px;
  align-items: baseline;
}
.social-text {
  color: var(--prime-bg-color--);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: flex-start;
}
.social-link-list.footer {
  margin: 0 auto;
}
.social-link-button.footer {
  color: var(--prime-bg-color--);
  background: rgba(255, 255, 255, 0.1);
}
.social-link-button.footer:hover,
.social-link-button.footer:focus {
  background-color: var(--accent-color--);
}
